@import "tailwindcss";
@import "charts.css/dist/charts.css";
@plugin "daisyui" {
  themes: forest --default;
  logs: false;
}

@source "../internal";

:root {
  --color-base-neutral-dark: #171c1b;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 700;
  src: url("/fonts/josefin-sans-v32-latin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ubuntu-v20-latin-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.datastar-swapping {
  opacity: "0";
  transition: "opacity 1s ease-out";
}

.datastar-settling {
  opacity: 0;
}

.charts-css {
  --color: var(--color-accent);
  --chart-bg-color: var(--color-base-100);
  --primary-axis-color: var(--color-neutral);
  --secondary-axes-color: var(--color-neutral);
  --data-axes-color: var(--color-neutral);
  --data-axes-width: 0.5px;
  --primary-axis-width:: 0.5px;
  --secondary-axes-width: 0.5px;
  --legend-border-width: 0.5px;
}

.charts-css.bar {
  --labels-size: 36px;
}
