@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 700;
  src: url("public/fonts/josefin-sans-v32-latin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("public/fonts//ubuntu-v20-latin-700.woff2") format("woff2");
  font-display: swap;
}

/* Alpine.js styles */
[x-cloak] {
  display: none !important;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
