package components

templ TextArea(key, label string, required bool, attrs templ.Attributes) {
	<label class="form-control">
		if label != "" {
			<div class="label">
				<span class="label-text">
					{ label }
					if required {
						<span class="text-error ml-0.5">*</span>
					}
				</span>
			</div>
		}
		<textarea
			data-bind={ key }
			class="textarea textarea-bordered w-full min-h-40"
			required?={ required }
			{ attrs... }
		></textarea>
	</label>
}
